<html>
<!-- Adapted from the people.html UI design -->
<head>
	<title>Foster-Cat Relationships</title>
	<link href="static/style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * four DIVS: browse, insert, update, delete
		 * this function sets one visible the others not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'update') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'none';
		} else if(dowhat == 'delete') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'block';
		} else if(dowhat == 'all') {
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'block';
			document.getElementById('edit').style.display = 'block';
			document.getElementById('delete').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
			document.getElementById('edit').style.display = 'none';
			document.getElementById('delete').style.display = 'none';
		}
	}

	function newFosterCatRelationship() {
		showform('insert');
	}

	function updateFosterCatRelationship(pid) {
		showform('update');
	}

	function deleteFosterCatRelationship(pid) {
		showform('delete');
	}

	function browseFosterCatRelationship() {
		showform('browse');
	}

	function showAll() {
		showform('all');
	}
	</script>
</head>

<body onload="browseFosterCatRelationships()">
	<h1>Foster Cat Relationships</h1> [<a href="foster_cat">Foster Cat Relationships</a>]
	<div id="browse">
		<p><a href="#" onClick="newFosterCatRelationship()">Add New</a> </p>
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from app.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column name -->
                        {% for key in data[0].keys() %}
					    
                        <!-- Create a <th> tag with the key inside of it, this will be our header row -->
					    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
					
                        <!-- End of this for loop -->
                        {% endfor %} 
                    </tr>

				<tbody>
					<!-- Now, iterate through every item in data -->{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

						    <!-- Create a <td> element with the value of that key in it -->
						    <td> {{item[key]}} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_foster_cat_relationship/{{item.id}}" class="btn btn-default">Edit</a></td>
						    <td><a href="delete_foster_cat_relationship/{{item.id}}" class="btn btn-default">Delete</a></td>

					    </tr> 
                        {% endfor %} 
                {% endif %} 
        </table>   
	<p>&nbsp;</p>
	</div>	<!-- browse -->

	<div id="insert">
		<!-- form to INSERT new data into table_-->
		<form id="insertFosterCatRelationship" action="/people" method="post">
			<legend><strong>Add Foster Cat Relationship</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="make">cat id:</label>
				<input type="text" class="form-control" id="cat_id" name="cat_id" pattern="[A-Za-z]{1,}" placeholder="" required>

				<label for="model">foster parent id:</label>
				<input type="text" class="form-control" id="lname" name="lname" pattern="[A-Za-z0-9]{1,}" placeholder="" required>

				<label for="color">cat id:</label>
				<input type="text" class="form-control" id="cat_id" name="cat_id" pattern="[A-Za-z0-9]{1,}" placeholder=""> 
            </fieldset>

            <!-- Create 'Add Foster Cat Relationship' and 'Cancel' buttons -->
			<input type="submit" value="Add Foster Cat Relationship" name="Add_Foster_Cat_Relationship" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseFosterCatRelationships()"> 
        </form>
	</div><!--insert-->
	<div id="edit">
		<!-- form to edit data in table->
		<form id="editFosterCatRelationship" action="/edit_foster_cat_relationship/{{data[0].id}}" method="post">
			<legend><strong>Edit Foster Cat Relationship</strong></legend>
			<fieldset>
				<input type="hidden" value="{{data[0].id}}" class="form-control" id="fosterRelationshipID" name="fosterRelationshipID" required>
				<label for="make">1cat id:</label>

				<input type="text" class="form-control" id="cat_id" name="cat_id" pattern="[A-Za-z]{1,}" placeholder="{{data[0].fname}}" required>
				<label for="model">2foster parent id:</label>

				<input type="text" class="form-control" id="foster_parent_id" name="foster_parent_id" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].lname}}" required>
				<label for="year">3homeworld:</label>

				<label for="color">4cat id:</label>
				<input type="text" class="form-control" id="cat_id" name="cat_id" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].cat_id}}" required> </fieldset>
				<input class="btn" type="button" value="Cancel" onClick="browseFosterCatRelationship()" style="margin:.5rem;"> 
        </form>
	</div><!--edit-->
</body>
</html>