<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Cat Cafe</title>
</head>
<body>
    <header>
        <p class="company"><a href="index.html">Cat Cafe</a></p>
        <nav>
            <a href="foster_cat">Foster/Cat Relationships</a>
        </nav>
    </header>
    <main>
        <h1>Home Page</h1>
    </main>
    <footer>
        <p>&#169; 2023 Olivia Russell & Jaclyn Rutter</p>
    </footer>
</body>
</html>